* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  height: 500px;
  border-radius: 8px;
  background: rgba(19, 18, 18, 0.3);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.card__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card__text {
  height: 95px;
  overflow-y: hidden;
}
.card__title {
  margin-top: 8px;
  line-height: 1;
}
.card__subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.1;
}
.card__icon {
  width: 40px;
  height: 40px;
}