* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
}

.card {
  width: 300px;
  height: 500px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 5px;
}
.card__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card__origen {
  height: 100x;
  width: 70px;
  margin-top: 8px;
}
.card__text {
  height: 95px;
  overflow-y: hidden;
  margin-top: 16px;
  color: #757575;
}
.card__title {
  margin-top: 8px;
  line-height: 1;
  font-weight: normal;
}
.card__subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;
}
.card__link {
  text-decoration: none;
  padding: 6px;
}
.card__icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-top: 16px;
}